apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    io.kompose.service: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080   # เข้าเว็บได้ที่ http://localhost:30080
