apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\Windows\system32\kompose.exe convert -f docker-compose.yml -o k8s/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: mysql
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: C:\Windows\system32\kompose.exe convert -f docker-compose.yml -o k8s/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: mysql
    spec:
      containers:
        - name: mysql-db
          image: mysql:8.0.38  # ใช้ tag ล่าสุดที่รองรับ x86_64
        - args:
            - --character-set-server=utf8mb4
            - --collation-server=utf8mb4_unicode_ci
          env:
            - name: LANG
              value: C.UTF-8
            - name: LC_ALL
              value: C.UTF-8
            - name: MYSQL_DATABASE
              value: devops_phase2
            - name: MYSQL_ROOT_PASSWORD
              value: Id_6687001
          image: mysql:8.0
          name: mysql-db
          ports:
            - containerPort: 3306
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-data
            - mountPath: /docker-entrypoint-initdb.d # <--- เพิ่มส่วนนี้
              name: mysql-initdb                    # <--- เพิ่มส่วนนี้
      restartPolicy: Always
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-data
        - name: mysql-initdb                       # <--- เพิ่มส่วนนี้
          configMap:                                # <--- เพิ่มส่วนนี้
            name: mysql-init-scripts              # <--- เพิ่มส่วนนี้ (ใช้ชื่อ ConfigMap ที่สร้างในขั้นตอนที่ 1)